html{
    scroll-behavior: smooth;
}
body {
    background-color: #eff0fb;
    font-family: "Lato" , serif;
    border: 0px;
    padding: 0px;
}
.container{
    display: flex;
    width: 900px;
    padding: 20px;
    margin:  40px auto; 
    background-color: #656dad;
    border-radius: 20px;
}
h1,h2,h3 {
    font-family: "Poppins", serif;

}
h1{
    
    font-weight: 700;
    font-style: normal;
    font-size: 32px;

}

h2{
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}
h3{
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}
p{
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
nav {
    background-color: coral;
    padding: 5px;
    filter: drop-shadow(5px 10px 12px #ff7070);
    position: fixed;
    width: 100%;
    top: 0px;

}
nav ul{
     list-style-type: none;
     display: flex;
     width: 900px;
     margin: 0 auto;
     justify-content: space-evenly;
     padding: 0;
     overflow: hidden;
     
}